.body {
    background: lightblue;
  }
  
  h1 {
    font-size: 80px;
  }
  
  h3 {
    font-size: 30px;
  }
  
  /* Giving our navbar some padding and a background color */
  .navbar {
    padding: 10px;
    background: sandybrown;
  }

  /* .navbar-home {

  } */
  
  /* Making our navbar li's inline-block elements this makes it so we can have multiple on the same line. Floats could have been used too */
  .btn {
    font-size: 30px !important;
  }
  
  .navbar-item {
    display: inline-block;
    padding: 20px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 30px;
  }
  
  /* Getting rid of the default link styles here */
  .navbar li a {
    color: #000;
    text-decoration: none;
  }

  .navbar h1 a {
    color: #000;
    text-decoration: none;
  }
  
  /* Styling the header, giving it a height, a background color, and some top padding */
  .header {
    height: 200px;
    padding-top: 20px;
    background: #cdcdcd;
  }
  
  /* Centering our h1 tag inside our header, giving it a little padding, removing its margin */
  .navbar-home {
    padding: 60px;
    margin: 0;
    text-emphasis-color: paleturquoise;
    text-align: center;
  }
  
  /* Giving the .post element margin on 3 sides */
  .summary {
    margin-top: 50px;
    margin-right: 100px;
    margin-left: 100px;
    margin-right: 100px;
  }

  p {
    margin-top: 50px;
    margin-right: 100px;
    margin-left: 100px;
    margin-right: 100px;
  }
  
  .visuals {
    margin-top: 50px;
    margin-right: 100px;
    margin-left: 100px;
    margin-right: 100px;
  }

  .plots {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
  }

  .container {
    margin-top: 50px;
    background: white;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
  }
 
  .plot-title {
    text-align: center;
    padding: 20px;
  }

  .data-title {
    text-align: center;
    padding: 20px;
  }


  @media (max-width: 800px) {
    .body {
      background: darkslategray;
      color: black;
    }
  }